<template>
  <div
    v-ripple
    class="flex flex-col gap-3 bg-white w-full h-full p-3 rounded-md"
  >
    <div class="flex flex-col justify-between gap-3 h-full w-full">
      <el-skeleton
        style="width: 240px, height: 100px"
        :loading="loading"
        animated
      >
        <template #template>
          <el-skeleton-item
            variant="image"
            style="width: 100%; height: 113px"
          />
          <div
            style="
              display: flex;
              align-items: center;
              justify-items: space-between;
              margin-top: 16px;
              height: 16px;
            "
          >
            <el-skeleton-item variant="text" style="margin-right: 16px" />
            <el-skeleton-item variant="text" style="width: 30%" />
          </div>
        </template>
        <template #default>
          <div class="relative">
            <span
              class="backdrop-blur-[2px] bg-primary-light/30 p-2 rounded-md absolute text-black right-2 top-2"
            >
              {{ product.stock ? product.stock : "00" }}
            </span>

            <span
              class="backdrop-blur-sm bg-primary shadow-lg shadow-primary/50 p-2 rounded-md absolute text-white right-2 -bottom-5"
            >
              <h2 class="text-base">
                {{ formatNumber(product.price) }}
              </h2>
            </span>

            <uil-camera-slash
              v-if="!product.img"
              class="aspect-video text-gray-700 bg-complementary h-full py-4 rounded-md ui-svg-inline w-full"
              size="5.5rem"
            />
            <img
              v-else
              class="aspect-video w-full rounded-md"
              :src="product.img"
            />
          </div>
          <div class="w-full text-left">
            <h1 class="text-base">{{ product.name }}</h1>
          </div>
        </template>
      </el-skeleton>
    </div>
  </div>
</template>

<script setup>
import { formatNumber } from "../../lib/utils/money";
import { ref, defineProps } from "vue";
import { UilCameraSlash } from "@iconscout/vue-unicons";

const { product, currency } = defineProps({
  product: { type: Object, default: false },
  currency: { type: Object, default: false },
});

const loading = ref(true);
const currentDate = new Date().toDateString();
setTimeout(() => (loading.value = !loading.value), 1000);
</script>
