<template>
  <div class="flex flex-col grow min-h-screen w-full">
    <OrdersNavBar :warehouse="warehouse" />
    <ProductCatalog :currency="currency" :translations="translations" />
  </div>
</template>

<script setup>
import ProductCatalog from "./../../widget/public/product/ProductCatalog.vue";
import OrdersNavBar from "./../navbar/OrdersNavbar.vue";
import { toRefs } from "vue";
const props = defineProps({
  warehouse: { type: Object, default: () => ({}) },
  currency: { type: Object, default: () => ({}) },
  translations: { type: Object, default: () => ({}) },
});
const { warehouse, currency, translations } = toRefs(props);
</script>
