<template>
  <div class="grow h-screen flex z-30">
    <ShoppingListController
      :admin="admin"
      :show="show"
      :onPayment="onPayment"
      :onClient="onClient"
      :onDecrement="onDecrement"
      :onIncrement="onIncrement"
    />
  </div>
</template>

<script>
import ShoppingListController from "./../../widget/public/product/ShoppingListController.vue";
export default {
  name: "PorductsList",
  components: { ShoppingListController },
  props: {
    admin: { type: Boolean, required: false },
    onPayment: { type: Function, required: false },
    onClient: { type: Function, required: false },
    onDecrement: { type: Function, required: false },
    onIncrement: { type: Function, required: false },
  },
};
</script>
