<template>
  <nav
    class="fixed max-h-screen h-screen max-w-max w-full flex flex-col justify-between bg-primary"
  >
    <Logo />
    <NavBar />
  </nav>
</template>

<script>
import NavBar from "../../components/navbar/NavBar.vue";
import Logo from "../../components/navbar/Logo.vue";

export default {
  name: "SideBar",
  components: {
    NavBar,
    Logo,
  },
};
</script>
