<template>
  <span
    class="flex justify-center items-center rounded text-2xl active:text-white active:outline active:outline-2 active:bg-primary active:outline-primary active:outline-offset-2"
    :class="{
      'text-white bg-primary': vkey.active,
      'bg-primary-light text-primary': !vkey.active,
      'h-10': keyClassName == '',
      [keyClassName]: keyClassName,
    }"
    @click="$emit('keyClick', vkey)"
  >
    <div v-if="isString(vkey.name)">{{ vkey.name }}</div>
    <Component v-else v-bind:is="vkey.name"></Component>
  </span>
</template>

<script setup>
import { defineProps /** defineEmits **/ } from "vue";
// const emit = defineEmits(["keyClick"]);

const { vkey, keyClassName } = defineProps({
  vkey: { type: Object, default: () => ({}) },
  keyClassName: { type: String, default: "" },
});

function isString(value) {
  return typeof value == "string";
}
</script>
