<template>
  <div>
    <Keyboard
      :keysConfig="KeyboardKeysConfig"
      :handleClick="onClickHandler"
      :classname="className"
    />
  </div>
</template>

<script setup>
import useKeyboardPayment from "./../../lib/composables/useKeyboardPayment";
import Keyboard from "./VirtualKeyboard.vue";

const { KeyboardKeysConfig, onClickHandler } = useKeyboardPayment();
</script>
