<template>
  <div>
    <Keyboard
      :keysConfig="KeyboardKeysConfig"
      :handleClick="onClickHandler"
      :classname="className"
    />
  </div>
</template>

<script setup>
import useKeyboardShopping from "./../../lib/composables/useKeyboardShopping";
import Keyboard from "./VirtualKeyboard.vue";

const { KeyboardKeysConfig, onClickHandler } = useKeyboardShopping();
</script>
