<template>
  <div class="grid grid-cols-1 grid-rows-4 grid-flow-col gap-1">
    <div
      class="grid grid-cols-4 grid-rows-1 grid-flow-col gap-1"
      v-for="(row, index) in keysConfig"
      :key="index"
    >
      <div v-for="col in row" :key="col.id">
        <Keys
          v-ripple
          :vkey="col"
          :keyClassName="className"
          @keyClick="handleClick"
        />
      </div>
    </div>
  </div>
</template>

<script setup>
import Keys from "./Keys.vue";
import { defineProps } from "vue";

const { keysConfig, handleClick, className } = defineProps({
  keysConfig: { type: Object, default: () => ({}) },
  handleClick: { type: Function, default: () => {} },
  classname: { type: String, default: "" },
});
</script>
