@tailwind base;
@tailwind components;
@tailwind utilities;

.el-popper.is-customized {
  @apply bg-primary text-white p-1.5;
}

.el-popper.is-customized .el-popper__arrow::before {
  @apply bg-primary;
  right: 0;
}

.el-popper.is-customized-delete {
  @apply bg-secondary text-white p-1.5;
}

.el-popper.is-customized-delete .el-popper__arrow::before {
  @apply bg-secondary;
  right: 0;
}

.el-button.dnb-payment {
  @apply bg-primary p-5 text-white !important;
}
.el-button.dnb-payment-ligth{
  @apply bg-primary-light p-5 !important;
}