<template>
  <div class="flex">
    <div class="w-2/5">
      <el-input
        v-model="terminal.label"
        class="m-2"
        placeholder="Nombre"
        size="large"
      />
    </div>
    <div class="w-2/5">
      <el-input
        v-model="terminal.ip"
        class="m-2"
        placeholder="IP"
        size="large"
      />
    </div>
    <div class="w-1/4">
      <el-button 
        class="m-2" 
        @click="onSaveTerminal">
        <span class="m-1">Guardar</span>
      </el-button>
    </div>
  </div>
</template>
<script>

import { ref } from 'vue'

export default {
  emits: ['saveTerminal'],
  props: ['terminal', 'resetOnSave'],
  setup(props, { emit }) {

    const defaultTerminal = {label: '', ip: ''};

    let terminal = ref({...props.terminal}) ?? ref(defaultTerminal) ;

    const onSaveTerminal = () => {
      emit('saveTerminal', {...terminal.value}); 

      props.resetOnSave && (terminal.value = defaultTerminal)
    }

    return { 
      onSaveTerminal, 
      defaultTerminal, 
      terminal, 
      canSave: props.save 
    }
  },
}
</script>
