<template>
  <div
    class="flex gap-2 flex-col text-center items-center m-0.5"
    v-for="(paymentMethod, idx) in selectedPaymentMethods"
    :key="idx"
  >
    <el-divider v-if="idx > 0" />

    <div class="flex gap-2">
      <el-select
        v-model="paymentMethod.paymentType"
        placeholder="Metodo de pago"
      >
        <el-option
          v-for="paymentType in availablePaymentMethods"
          :key="paymentType.id"
          :label="paymentType.name"
          :value="paymentType.id"
        />
      </el-select>

      <el-popover
        placement="right"
        title="Monto rapido"
        :width="320"
        :disabled="!getStaticAmounts(paymentMethod.paymentType)"
        trigger="click"
      >
        <el-button
          v-for="(staticAmount, idx) in getStaticAmounts(
            paymentMethod.paymentType
          )"
          :key="idx"
          @click="paymentMethod.amount = formatNumber(staticAmount)"
        >
          {{ staticAmount }}
        </el-button>
        <template #reference>
          <div class="flex gap-2">
            <el-input
              v-model="paymentMethod.amount"
              placeholder="Monto recibido"
              class="input-with-select"
              :parser="(value) => value.replaceAll(/[^0-9]/g, '')"
              :formatter="formatInput"
            >
              <template #append>
                {{ currency }}
              </template>
            </el-input>

            <el-input
              v-for="(field, idx) in getAdditionalFields(
                paymentMethod.paymentType
              )"
              :key="idx"
              v-model="paymentMethod.inputs[field.id]"
              :type="field.type"
              :placeholder="field.name"
            ></el-input>

            <el-tooltip
              class="box-item"
              effect="customized-delete"
              content="Borra pago"
              placement="right-start"
            >
              <el-button
                v-if="selectedPaymentMethods.length > 1"
                @click="removePaymentMethod(idx)"
                type="danger"
              >
                x
              </el-button>
            </el-tooltip>
          </div>
        </template>
      </el-popover>
    </div>

    <!-- <el-input v-model="amount" placeholder="Cantidad recibida" style="--tw-text-opacity: .8; width: 40%"></el-input> -->
    <!-- <el-select v-model="paymentType" placeholder="Cantidad recibida" style="--tw-text-opacity: .8; width: 40%"></el-input> -->
  </div>

  <el-tooltip
    class="box-item"
    effect="customized"
    content="Añadir metodo de pago"
    placement="right-start"
  >
    <el-button @click="addPaymentMethod(order)">+</el-button>
  </el-tooltip>
</template>

<script>
import { usePaymentStore } from "../../lib/store/paymentStore";

import { formatNumber, unformat } from "../../lib/utils/money";
import { toRefs, computed } from "vue";
import { useCompanyStore } from "../../lib/store/companyStore";

export default {
  props: ["totalAmount", "order"],
  setup(props) {
    const { totalAmount, order } = toRefs(props);
    usePaymentStore().selectedPaymentMethods = [];
    usePaymentStore().addPaymentMethod(order.value);

    return {
      ...toRefs(usePaymentStore()),
      currency: computed(() => useCompanyStore().currency.symbol),

      order,
      totalAmount,
      formatNumber,
      unformat,
    };
  },
};
</script>
