<template>
  <article class="p-5 break-all">
    <div
      v-motion
      :initial="{ opacity: 0 }"
      :enter="{ opacity: 1 }"
      :delay="200"
      class="fixed z-20 inset-0 w-full flex backdrop-blur-sm bg-black/50"
      @click="onClient"
    />
    <div
      class="flex items-center justify-between gap-2 bg-white border border-slate-200 rounded-md p-1"
    >
      <button
        v-ripple
        class="block bg-secondary p-2 rounded-md text-white"
        @click="showClient"
      >
        <uil-times v-if="show" size="1.25rem"></uil-times>
        <uil-user-plus v-else size="1.25rem"></uil-user-plus>
      </button>

      <input
        type="text"
        placeholder="Buscar"
        class="w-full block px-3 py-2 bg-white rounded-md text-sm placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-secondary invalid:text-secondary focus:invalid:border-pink-500 focus:invalid:ring-pink-500"
        @input="(event) => onFilterClient(event.target.value)"
      />
    </div>

    <article
      v-if="show"
      v-motion
      :initial="{ opacity: 0, y: 100 }"
      :enter="{ opacity: 1, y: 0, scale: 1 }"
      :variants="{ custom: { scale: 2 } }"
      :delay="200"
    >
      <CreateClient :show="showClient" @createdClient="_onAddClient" />
    </article>
    <article
      v-else
      v-motion
      :initial="{ opacity: 0, y: 100 }"
      :enter="{ opacity: 1, y: 0, scale: 1 }"
      :variants="{ custom: { scale: 2 } }"
      :delay="200"
    >
      <p
        class="text-white my-2 border-b border-primary-dark"
        v-for="client in _mutatedClient.clients"
        :key="client.id"
      >
        <button
          v-ripple
          class="text-start break-all w-full"
          @click="_onClient(client)"
        >
          <h1 class="text-base">{{ client.name }}</h1>
          <h2 class="text-xs text-slate-400">{{ client.address }}</h2>
        </button>
      </p>
    </article>
  </article>
</template>

<script setup>
import { useOrderStore } from "../../lib/store/orderStore";
import {
  reactive,
  computed,
  ref,
  inject,
  defineProps,
  onMounted,
  onUnmounted,
} from "vue";
import CreateClient from "../clients/CreateClient.vue";
import { UilUserPlus } from "@iconscout/vue-unicons";
import { UilTimes } from "@iconscout/vue-unicons";
const props = defineProps({
  clients: { type: Array, default: () => [] },
  onClient: { type: Function, default: () => {} },
});
const toggleBackdrop = inject("toggleBackdrop");
onMounted(() => toggleBackdrop());
onUnmounted(() => toggleBackdrop());
const productStore = useOrderStore();
const show = ref(false);
const _mutatedClient = reactive({
  clients: computed(() => useOrderStore()?.clients),
});

const onFilterClient = (ctg) => {
  if (ctg == "") {
    _mutatedClient.clients = computed(() => productStore.clients);
    return false;
  }
  let filter = _mutatedClient.clients.filter((client) =>
    client.name.toLowerCase().includes(ctg.toLowerCase())
  );
  _mutatedClient.clients = computed(() => [...filter]);
};

const _onClient = (client) => {
  productStore.onAddClientOrder(client);
  props.onClient();
};
const _onAddClient = (client) => {
  productStore.onAddClientOrder(client);
  _mutatedClient.clients.push(client);
  props.onClient();
};

const showClient = () => (show.value = !show.value);
</script>
