<template>
  <form
    method="POST"
    accept-charset="UTF-8"
    id="form-create-customer"
    @submit.prevent="onSubmit"
    role="form"
    class="my-5"
    novalidate=""
  >
    <!-- @keydown="errors = [$event.target.name]" -->
    <div class="w-full flex flex-col gap-2">
      <div class="w-full flex gap-2">
        <div class="w-full flex flex-col">
          <label
            class="px-2 text-white after:content-['*'] after:ml-0.5 after:text-secondary"
          >
            Nombre
          </label>
          <el-input
            v-model="name"
            class="w-50 m-2"
            size="large"
            placeholder="Ingrese Nombre"
          />
        </div>
        <div class="w-full flex flex-col">
          <label class="px-2 text-white"> Correo Electronico </label>
          <el-input
            v-model="email"
            class="w-50 m-2"
            size="large"
            placeholder="Ingrese Correo Electronico"
          />
        </div>
      </div>

      <div class="w-full flex gap-2">
        <div class="w-full flex flex-col">
          <label class="px-2 text-white"> RIF/C.I. </label>
          <el-input
            v-model="tax_number"
            class="w-50 m-2"
            size="large"
            placeholder="Ingrese RIF/CI"
          />
        </div>
        <div class="w-full flex flex-col">
          <label
            class="px-2 text-white after:content-['*'] after:ml-0.5 after:text-secondary"
          >
            Moneda
          </label>
          <el-autocomplete
            v-model="currency_code"
            :fetch-suggestions="querySearchM"
            clearable
            class="w-full m-2"
            placeholder="Ingrese Moneda"
            size="large"
          >
            <template #default="{ item }">
              <div class="value">{{ item.label }}</div>
            </template>
          </el-autocomplete>
        </div>
      </div>

      <div class="w-full flex gap-2">
        <div class="w-full flex flex-col">
          <label class="px-2 text-white"> Direccion </label>
          <el-input
            v-model="address"
            class="w-50 m-2"
            size="large"
            type="textarea"
            placeholder="Ingrese Direccion"
          />
        </div>
      </div>

      <div class="w-full flex gap-2">
        <div class="w-full flex flex-col">
          <label class="px-2 text-white"> Estado </label>
          <el-autocomplete
            v-model="state"
            :fetch-suggestions="querySearchS"
            clearable
            class="w-full m-2"
            placeholder="Ingrese Estado"
            size="large"
          >
            <template #default="{ item }">
              <div class="value">{{ item.value }}</div>
            </template>
          </el-autocomplete>
        </div>
      </div>

      <div>
        <button class="bg-secondary text-white px-3 py-2 mx-2 rounded">
          Crear
        </button>
      </div>
    </div>
  </form>
</template>

<script>
import { useOrderStore } from "../../lib/store/orderStore";
import { ElNotification } from "element-plus";
import { ref, reactive, onBeforeMount, h } from "vue";
import axios from "axios";
import { partial } from "lodash";
import { SECOND } from "../../lib/utils/async";

export default {
  name: "CreateClient",
  props: {
    show: { type: Function, default: () => {} },
  },
  setup(props, { emit }) {
    const productStore = useOrderStore();
    const _opctionM = [aka_currency];
    const currency_code = ref("");
    const state = ref("");
    const name = ref("");
    const email = ref("");
    const tax_number = ref("");
    const address = ref("");

    const parseResponseValidationErrors = (errors) =>
      h(
        "span",
        {},
        Object.values(errors)
          .flat()
          .map((error) =>
            h("span", {}, [
              String.prototype.replace.call(error, /<[^>]*>?/gm, ""),
              h("br"),
            ])
          )
      );

    let form = reactive({
      optionsMonei: [],
      optionsState: [],
      errors: {},
      async onSubmit() {
        axios({
          method: "post",
          url: url + "/sales/customers",
          data: onGetData(),
          headers: {
            "Content-Type": "multipart/form-data",
            "X-CSRF-TOKEN": globalThis.window.Laravel.csrfToken,
          },
        })
          .then(function (response) {
            ElNotification.success({
              title: "Success",
              message: "Cliente creado correctamente",
              duration: 8 * SECOND,
              customClass: "rounded bg-primary text-white",
              showClose: false,
            });
            // productStore.clients.push(response.data);
            emit("createdClient", response.data);
            props.show();
          })
          .catch(function (error) {
            const responseData = error.response.data;
            ElNotification({
              title: "Error",
              message: h("span", {}, [
                responseData.message,
                h("br"),
                parseResponseValidationErrors(responseData.errors),
              ]),
              duration: 8 * SECOND,
              customClass: "rounded bg-secondary text-white",
              showClose: false,
            });
          });
      },
    });

    const onGetData = () => {
      let bodyFormData = new FormData();

      const data = {
        _token: globalThis.window.Laravel.csrfToken,
        name: name.value,
        email: email.value,
        tax_number: tax_number.value,
        null: "",
        type: "customer",
        enabled: 1,
        address: address.value,
        currency_code: currency_code.value,
        country: state.value,
      };

      Object.keys(data).forEach((key) => {
        bodyFormData.append(key, data[key]);
      });

      return bodyFormData;
    };

    onBeforeMount(async () => {
      _opctionM.forEach((item) => {
        form.optionsMonei.push({
          label: item.name,
          value: item.code,
        });
      });

      // Object.values(countries).forEach((item) => {
      //   form.optionsState.push({
      //     value: item,
      //   });
      // });
    });

    const createFilter = (queryString) => {
      return (items) => {
        return (
          items.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0
        );
      };
    };

    const querySearchM = (queryString, cb) => {
      console.log(queryString);
      const results = queryString
        ? form.optionsMonei.filter(createFilter(queryString))
        : form.optionsMonei;
      // call callback function to return suggestions
      cb(results);
    };

    const querySearchS = (queryString, cb) => {
      console.log(queryString);
      const results = queryString
        ? form.optionsState.filter(createFilter(queryString))
        : form.optionsState;
      // call callback function to return suggestions
      cb(results);
    };

    return {
      ...form,
      currency_code,
      state,
      name,
      email,
      tax_number,
      address,
      querySearchM,
      querySearchS,
    };
  },
};
</script>
