<template>
  <SlideOptions>
    <template #cover>
      <div
        class="relative p-1 rounded"
        :class="{ 'bg-complementary': product.edit }"
        @click="onEditItemOrder(product.id)"
      >
        <ItemProductActions
          :product="product"
          :onIncrement="onIncrement"
          :onDecrement="onDecrement"
          :onEditItemOrder="onEditItemOrder"
        />
      </div>
    </template>

    <!-- <template #options><button>hola</button></template> -->
  </SlideOptions>
</template>

<script>
import SlideOptions from "../items/ItemSlideOptions.vue";
import ItemProductActions from "../items/ItemProductActions.vue";
import PopoverItems from "../popovers/PopoverItems.vue";
export default {
  name: "ListProduct",
  components: { ItemProductActions, PopoverItems, SlideOptions },
  props: {
    product: {
      type: Object,
      default: false,
    },
    onIncrement: {
      type: Function,
      default: () => {},
    },
    onDecrement: {
      type: Function,
      default: () => {},
    },
    onEditItemOrder: {
      type: Function,
      default: () => {},
    },
  },
};
</script>
