<template>
  <SlideOptions>
    <template #cover>
      <div class="relative p-1 rounded bg-complementary">
        <ItemProductBill :product="product" />
      </div>
    </template>

    <!-- <template #options><button>hola</button></template> -->
  </SlideOptions>
</template>

<script>
import SlideOptions from "../items/ItemSlideOptions.vue";
import ItemProductBill from "../items/ItemProductBill.vue";
export default {
  name: "ListProductBill",
  components: { ItemProductBill, SlideOptions },
  props: {
    product: {
      type: Object,
      default: false,
    },
  },
};
</script>
