<template>
  <div v-if="show">
    <!-- NOTE: this div is the one that is not working -->
    <!--  -->
    <el-alert
      :type="isReturn ? 'info' : 'warning'"
      :title="(isReturn ? 'Vuelto' : 'Por pagar') + ': ' + remaingMoney"
      :closable="false"
      center="center"
    />
    <!-- remaingMoney:{{ remaingMoney }} isReturn:{{ isReturn }} show:{{
      show
    }}
    remaing:{{ remaing }} paid:{{ paid }} total:{{ total }}

    resta: {{ Number(paid) - unformat(Number(total)) }}

    unformat total: {{ unformat(Number(total)) }} unformat paid:
    {{ unformat(Number(paid)) }} -->
  </div>
</template>

<script setup>
import { toRefs, defineProps, computed } from "vue";

import { formatNumber, unformat } from "./../../lib/utils/money.js";

let props = defineProps({
  total: { type: Number, required: true },
  paid: { type: Number, required: true },
  currency: { type: String, required: true },
});

let { total, paid } = toRefs(props);

let remaing = computed(
  () => unformat(Number(paid.value)) - unformat(Number(total.value))
);
let isReturn = computed(() => remaing.value > 0);
let show = computed(() => remaing.value != 0);
let remaingMoney = computed(() => formatNumber(Math.abs(remaing.value)));
</script>
