<template>
  <div
    class="flex flex-row items-stretch place-content-stretch place-items-stretch justify-between justify-items-stretch box-border button"
  >
    <div
      class="grow justify-self-auto self-stretch place-self-stretc flex gap-3"
    >
      <span>
        <uil-camera-slash
          v-if="!product.img"
          class="bg-cover text-gray-700 rounded-md w-12 h-12"
          size="1.5rem"
        />
        <div
          v-else
          class="bg-cover rounded-md w-12 h-12"
          :style="{ backgroundImage: `url('${product.img}')` }"
        ></div>
      </span>

      <div class="flex grow justify-between items-center box-border">
        <h1 class="text-base">{{ product.name }}</h1>
        <div class="flex gap-3 justify-stretch items-center box-border">
          <h2 class="text-base text-primary">
            {{ formatNumber(product.price * product.quantity) }}
          </h2>
          <h1 class="bg-primary rounded-md text-white py-2 px-4">
            {{ product.quantity }}
          </h1>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { formatNumber } from "../../lib/utils/money";
import { useCompanyStore } from "../../lib/store/companyStore";
import { useOrderStore } from "../../lib/store/orderStore";
import PopoverItems from "../popovers/PopoverItems.vue";
import { UilPlus, UilCameraSlash } from "@iconscout/vue-unicons";
import { UilMinus } from "@iconscout/vue-unicons";
import { defineProps } from "vue";

const { product } = defineProps({
  product: {
    type: Object,
    default: false,
  },
});

const currency = useCompanyStore().currency ?? 0;
const orderStore = useOrderStore();
</script>
