<template>
  <div
    class="flex flex-row items-stretch place-content-stretch place-items-stretch justify-between justify-items-stretch box-border button"
  >
    <div
      class="grow justify-self-auto self-stretch place-self-stretc flex gap-3"
    >
      <PopoverItems v-if="product.tax_ids.length" :product="product">
        <template #trigger>
          <uil-camera-slash
            v-if="!product.img"
            class="bg-cover text-gray-700 rounded-md w-12 h-12"
            size="1.5rem"
          />
          <div
            v-else
            v-ripple
            class="bg-cover rounded-md w-12 h-12 flex justify-end items-end text-white"
            :style="{ backgroundImage: `url('${product.img}')` }"
          >
            <uil-tag
              class="m-1 backdrop-blur-[3px] bg-primary-light/30 p-0.5 rounded text-primary"
              size=".8rem"
            ></uil-tag>
          </div>
        </template>
      </PopoverItems>

      <span v-else>
        <uil-camera-slash
          v-if="!product.img"
          class="bg-cover text-gray-700 rounded-md w-12 h-12"
          size="1.5rem"
        />
        <div
          v-else
          class="bg-cover rounded-md w-12 h-12"
          :style="{ backgroundImage: `url('${product.img}')` }"
        ></div>
      </span>

      <div
        class="flex flex-col items-stretch place-content-stretch place-items-stretch justify-between justify-items-stretch box-border"
      >
        <h1 class="text-base">{{ product.name }}</h1>

        <h2 class="text-base text-primary flex">
          <span> {{ formatNumber(product.price * product.quantity) }} </span>
          <span v-if="product.discount"> - </span>
          <span class="text-secondary" v-if="product.discount">
            {{ formatNumber(product.discount) }}
          </span>
        </h2>
      </div>
    </div>
    <div
      class="grow-0 justify-self-auto self-stretch place-self-stretc flex gap-1 justify-center items-center m-1"
    >
      <button
        v-ripple
        @mousedown.stop
        class="border border-primary p-1 rounded-full text-primary"
        @click="orderStore.incrementItem(product)"
      >
        <uil-plus size=".8rem"></uil-plus>
      </button>

      <h1>{{ Number(product.quantity) }}</h1>

      <button
        v-ripple
        @mousedown.stop
        class="border p-1 rounded-full"
        :class="{
          'bg-secondary text-white': product.quantity == 0,
          'border-primary text-primary': product.quantity != 0,
        }"
        @click="orderStore.decrementItem(product)"
      >
        <uil-minus size=".8rem"></uil-minus>
      </button>
    </div>
  </div>
</template>

<script setup>
import { formatNumber } from "../../lib/utils/money";
import { useCompanyStore } from "../../lib/store/companyStore";
import { useOrderStore } from "../../lib/store/orderStore";
import PopoverItems from "../popovers/PopoverItems.vue";
import { UilPlus, UilCameraSlash } from "@iconscout/vue-unicons";
import { UilMinus } from "@iconscout/vue-unicons";
import { UilTag } from "@iconscout/vue-unicons";
import { defineProps } from "vue";

const { product, onIncrement, onDecrement, onEditItemOrder } = defineProps({
  product: {
    type: Object,
    default: false,
  },
  onIncrement: {
    type: Function,
    default: () => {},
  },
  onDecrement: {
    type: Function,
    default: () => {},
  },
  onEditItemOrder: {
    type: Function,
    default: () => {},
  },
});

const currency = useCompanyStore().currency;
const orderStore = useOrderStore();
</script>
