<template>
  <div class="vincent-slide-options">
    <div class="vincent-slide-options-cover">
      <!-- @touchstart="start"
         @touchmove="move"
         @touchend="end"
         @touchcancel="end"
         :style="coverStyle" -->
      <slot name="cover"></slot>
    </div>
    <div
      class="vincent-slide-options-opt-ctn"
      ref="vincentSlideOptionsChildren"
    >
      <slot name="options"></slot>
    </div>
  </div>
</template>

<script setup></script>

<style lang="scss" scoped>
.vincent-slide-options {
  position: relative;
}
.vincent-slide-options-cover {
  position: relative;
}
.vincent-slide-options-opt-ctn {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  z-index: -1;
}
</style>
