<template>
  <DrawerLayout
    :show="show"
    title="Listado de impuestos"
    direction="rtl"
    size="30%"
  >
    <template #drawerBody>
      <el-table :data="taxesData">
        <el-table-column property="name" label="Taxes" />
        <el-table-column
          align="right"
          property="total"
          label="Total tax"
          width="200"
        >
          <template #default="scope">
            {{ formatNumber(sumBy(scope.row.total, "taxTotal")) }}
          </template>
        </el-table-column>
      </el-table>
      <div
        class="w-full bg-complementary p-2 rounded flex grow justify-between"
      >
        <p>Total:</p>
        <p>{{ formatNumber(taxesTotal) }}</p>
      </div>
    </template>
  </DrawerLayout>
</template>

<script setup>
import { sumBy } from "lodash";
import DrawerLayout from "../../layouts/DrawerLayout.vue";
import { formatNumber } from "../../lib/utils/money";
import { defineProps, toRefs } from "vue";

const props = defineProps({
  show: { type: Boolean, default: false },
  taxesData: { type: Array, default: () => [] },
  taxesTotal: { type: String, default: "0,00" },
});

const { show, taxesData, taxesTotal } = toRefs(props);
</script>
