<template>
  <div class="flex flex-col grow w-full h-auto">
    <span class="w-ful p-2">Sub Total: {{ formatNumber(subTotal) }}</span>
    <div
      class="flex text-center items-center justify-between w-full bg-complementary p-2 rounded"
    >
      <el-popover :placement="placement" :width="220" trigger="hover">
        <template #reference>
          <span>Impuestos: {{ formatNumber(taxesTotal) }} </span>
        </template>
        <el-button v-ripple @click="show = !show"
          >Informe de Impuestos</el-button
        >
      </el-popover>

      <!-- <span> -->
      <!--   <button -->
      <!--     v-ripple -->
      <!--     class="grow-0 bg-secondary text-white w-auto p-2 rounded disabled:bg-gray-400 disabled:text-black" -->
      <!--     @click="centerDialogVisible = !centerDialogVisible" -->
      <!--   > -->
      <!--     New tax -->
      <!--   </button> -->
      <!-- </span> -->
    </div>

    <span v-if="discountTotal" class="w-full p-2"
      >Descuento: {{ formatNumber(discountTotal) }}</span
    >

    <span class="w-full p-2">Total: {{ formatNumber(total) }} </span>
    <ModalViewComponent
      v-model="centerDialogVisible"
      :centerDialogVisible="centerDialogVisible"
      :currentComponent="currentComponent"
      :currentProperties="currentProperties"
    />
    <InfoTaxes v-model="show" :taxesData="taxesData" :taxesTotal="taxesTotal" />
  </div>
</template>

<script setup>
import { formatNumber } from "./../../lib/utils/money";
import { ref, toRefs, defineProps } from "vue";
import InfoTaxes from "./InfoTaxes";
import ModalViewComponent from "./../modals/ModalViewComponent";
import ListTaxes from "./../lists/ListTaxes.vue";

const props = defineProps({
  total: { type: String, default: "0,00" },
  subTotal: { type: String, default: "0,00" },
  taxesTotal: { type: String, default: "0,00" },
  discountTotal: { type: String, default: 0 },
  taxesData: { type: Array, default: () => [] },
  placement: { type: String, default: "left" },
});

const { total, subTotal, taxesTotal, taxesData, placement } = toRefs(props);

const centerDialogVisible = ref(false);
const show = ref(false);

const currentComponent = ListTaxes;

const currentProperties =
  currentComponent.name === "Personal-Details-Edit" ? { foo: "si porps" } : "";
</script>
