<template>
  <div>
    <el-popover placement="left" :width="250" trigger="click">
      <template #reference>
        <slot name="trigger"></slot>
      </template>
      <el-select
        ref="selectTax"
        class="flex grow"
        v-model="taxes"
        multiple
        filterable
        collapse-tags
        placeholder="Taxes"
        @removeTag="onRemoveTag"
      >
        <el-option
          v-for="item in productStore.onTaxesList(product.id, false)"
          :key="item.id"
          :label="item.title"
          :value="item.id"
        />
      </el-select>
    </el-popover>
  </div>
</template>

<script setup>
import { ref, watch, defineProps, toRefs } from "vue";
import { useOrderStore } from "../../lib/store/orderStore";
const props = defineProps({
  product: {
    type: Object,
    default: false,
  },
});

const { product } = toRefs(props);

const productStore = useOrderStore();
const taxes = ref([...productStore.onGetTaxesItem(product.id, true)]);
const selectTax = ref(null);

watch(taxes, (value) => {
  productStore.onNewTaxes({ tax: value, id: product.id });
  selectTax.value.handleClose();
});

const onRemoveTag = (id) => {
  productStore.onRemoveJustificateTax(id);
};
</script>
