<template>
  <a :href="home">
    <div class="flex justify-center text-center text-white py-4">
        <img class="w-2/5" alt="Akaunting" :src="urlImage" />
    </div>
  </a>
</template>

<script>
export default {
  name: "Logo",
  setup() {
    return {
      home: globalThis.window.url,
      urlImage: globalThis.window.app_url + "/public/img/logo-danube-dashboard.png",
    };
  },
};
</script>

<style></style>
