<template>
  <div class="flex-auto pl-3 py-4 rounded">
    <ul class="space-y-2">
      <!-- v-if="router.path == '/'" -->
      <li
        class="flex items-center justify-center relative p-2 active active:rounded-md text-white bg-complementary rounded-l-md"
      >
        <b
          class="absolute h-5 w-full right-0 -top-20-px bg-complementary before:text-transparent before:absolute before:content-['*'] before:top-0 before:left-0 before:w-full before:h-full before:bg-primary before:rounded-br-md"
        />
        <b
          class="absolute h-5 w-full right-0 -bottom-20-px bg-complementary before:text-transparent before:absolute before:content-['*'] before:top-0 before:left-0 before:w-full before:h-full before:bg-primary before:rounded-tr-md"
        />

        <router-link
          to="/"
          class="w-full p-2 bg-primary shadow-lg shadow-primary/50 rounded-md block"
        >
          <uil-apps size="1.5rem"></uil-apps>
        </router-link>
      </li>
      <!-- <li v-else> -->
      <!--   <router-link to="/" class="w-full p-2 bg-primary shadow-lg shadow-primary/50 rounded-md block"> -->
      <!--     <uil-apps size="1.5rem"></uil-apps> -->
      <!--   </router-link> -->
      <!-- </li> -->
      <!-- <el-tooltip content="Configuración" placement="right" auto-close="4000"> -->
      <li>
        <a
          v-ripple
          class="text-white w-full p-2 bg-primary shadow-lg shadow-primary/50 rounded-md block"
          @click="showConfig = !showConfig"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 m-2 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
            />
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
            />
          </svg>
        </a>
        <!-- <router-link -->
        <!--   v-if="path == '/'" -->
        <!--   to="/config" -->
        <!--   class="flex justify-center items-center text-center text-white py-6" -->
        <!-- > -->
        <!-- </router-link> -->
        <ConfigDrawer v-model="showConfig" />
      </li>
      <!-- </el-tooltip> -->
      <li>
        <el-tooltip
          content="Cierre de lote (Terminal)"
          placement="right"
          auto-close="4000"
        >
          <a
            v-loading="sendingBatchUpload"
            :disabled="sendingBatchUpload"
            v-ripple
            element-loading-background="rgba(0, 0, 0, 0.0)"
            class="text-white w-full p-2 bg-primary shadow-lg shadow-primary/50 rounded-md block"
            @click="batchUpload"
          >
            <img :src="configImage" style="width: 36px; height: 36px" />
          </a>
        </el-tooltip>
      </li>
      <li>
        <el-tooltip content="Conciliación" placement="right" auto-close="4000">
          <a
            v-ripple
            element-loading-background="rgba(0, 0, 0, 0.0)"
            class="text-white w-full p-2 bg-primary shadow-lg shadow-primary/50 rounded-md block"
            @click="showConciliationDrawer = true"
          >
            <span class="flex justify-center"
              ><UilFileGraph size="1.7em"></UilFileGraph>
            </span>
          </a>
        </el-tooltip>
        <ConciliationDrawer v-model="showConciliationDrawer" />
      </li>
    </ul>
  </div>
</template>

<script setup>
import { useRoute } from "vue-router";

import { UilApps, UilFileGraph } from "@iconscout/vue-unicons";
import ConfigDrawer from "./../../widget/public/configs/PosConfig.vue";
import ConciliationDrawer from "../../widget/public/configs/ConciliationDrawer.vue";
import { ref, h, inject } from "vue";
import { useTerminal } from "../../lib/composables/useTerminal";
import { ElNotification } from "element-plus";

const eventBus = inject("EventBus");

const notify = (title, message, type = "info") =>
  ElNotification({
    title,
    message: h("span", { style: "color: teal" }, message),
    type: type,
  });
let sendingBatchUpload = ref(false);
let showConciliationDrawer = ref(false);

const router = useRoute();
const configImage =
  window.app_url + "/modules/TestVue/Resources/assets/img/logo_batch.png";
const showConfig = ref(false);
const batchUpload = () => {
  if (sendingBatchUpload.value == true) return false;
  sendingBatchUpload.value = true;

  useTerminal()
    .onClosing()
    .then(
      () => (
        notify("Cierre de lote enviado"), (sendingBatchUpload.value = false)
      )
    )
    .catch(
      () => (
        notify(
          "Ha ocurrido un error al enviar el cierre de lote al terminal",
          "",
          "warning"
        ),
        (sendingBatchUpload.value = false)
      )
    );
};
const zReport = () => {
  eventBus.emit("report:z");
};
const xReport = () => {
  eventBus.emit("report:x");
};
</script>
