<template>
  <div
    class="sticky top-0 z-10 bg-complementary pb-1 w-full max-w-screen-lg md:max-w-screen-md lg:max-w-screen-lg sm:max-w-screen-sm"
  >
    <div
      class="grow flex justify-between pb-2 w-full max-w-screen-md min-w-full"
    >
      <div
        class="flex grow overflow-x-auto sticky top-0 border-b border-slate-200 text-sm pb-2 w-full"
      >
        <div
          v-for="openOrder in orderStore.getOpenOrders"
          :key="openOrder.id"
          class="w-48"
        >
          <button
            v-ripple
            class="flex justify-between items-center gap-3 px-4 py-2 text-gray-700 hover:text-black"
            :class="{
              'border-b-2 border-secondary text-secondary font-semibold':
                openOrder.active,
            }"
            @click="orderStore.onProcessiOrder(openOrder.id)"
          >
            <spam
              class="w-7 h-6 items-center flex justify-center gap-3 bg-secondary rounded-full text-white text-sm"
            >
              <p class="text-center">
                {{ openOrder.id }}
              </p>
            </spam>
            <p class="w-full truncate">
              {{ openOrder.name.toUpperCase() }}
            </p>
          </button>
        </div>
      </div>
      <div
        class="flex justify-between items-center gap-2 grow-0 w-2/5 p-2 pr-4"
      >
        <div class="flex">
          <button
            v-ripple
            class="text-white bg-secondary p-1 m-1 h-8 rounded"
            @click="orderStore.onQuickSale"
          >
            <uil-plus size="1.5rem"></uil-plus>
          </button>
          <button
            v-ripple
            class="text-white bg-secondary p-1 m-1 h-8 rounded"
            @click="onDeleteOrder(orderStore.process)"
          >
            <uil-minus size="1.5rem"></uil-minus>
          </button>
        </div>
        <el-popover
          placement="bottom"
          :title="warehouse.name"
          :width="300"
          trigger="click"
        >
          <template #reference>
            <h1 class="text-xl truncate">{{ warehouse.name }}</h1>
          </template>

          <div class="flex flex-col">
            <p class="break-words">
              <b>Dirección: </b> {{ warehouse.address }}
            </p>
            <p class="break-words">
              <b>Description: </b> {{ warehouse.description }}
            </p>
          </div>
        </el-popover>
      </div>
    </div>
    <div class="flex pt-2 gap-1 flex-col md:flex-row lg:flex-row xl:flex-row">
      <el-select
        class="flex-1 flex grow"
        v-model="productStore.searchCategories"
        placeholder="Categoria"
        size="large"
        multiple
        filterable
        collapse-tags
      >
        <el-option
          v-for="(item, i) in productStore.getCategories"
          :key="i"
          :label="item"
          :value="item"
        />
      </el-select>
      <div class="grow"></div>
      <input
        v-model="productStore.searchText"
        type="text"
        placeholder="Buscar"
        @keydown.enter="() => (searchProductText = '')"
        class="flex-1 block px-3 py-2 bg-white border border-slate-200 rounded-md text-sm placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-1 focus:ring-primary disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none invalid:border-secondary invalid:text-secondary focus:invalid:border-pink-500 focus:invalid:ring-pink-500"
      />
    </div>
  </div>
</template>

<script setup>
import { useProductStore } from "../../lib/store/productStore";
import { useOrderStore } from "../../lib/store/orderStore";
import { useCompanyStore } from "../../lib/store/companyStore";
import { ref, toRefs, computed, watch } from "vue";

import { UilPlus, UilMinus, UilCameraSlash } from "@iconscout/vue-unicons";
import { onKeyDown } from "@vueuse/core";

const productStore = useProductStore();
const category = ref("");
const reset = ref(false);
const warehouse = ref(useCompanyStore().warehouse);
const orderStore = computed(() => useOrderStore());

const onDeleteOrder = (id$) => {
  useOrderStore().onDeleteOrder(id$);
  useOrderStore().onProcessiOrder(productStore.getProcess);
};
</script>
