<template>
  <article class="relative w-full flex justify-between h-auto">
    <PrePaymentLayouts>
      <template #header>
        <Products
          :translations="translations"
          :warehouse="warehouse"
          :currency="currency"
        />
      </template>
      <template #aside>
        <ProductsList
          :selectProduct="selectProduct$"
          :admin="admin"
          :show="show"
          :onPayment="onPayment"
          :onClient="onClient"
          :onDecrement="onDecrement"
          :onIncrement="onIncrement"
        />
      </template>
    </PrePaymentLayouts>
  </article>
</template>

<script setup>
import { reactive, toRefs, ref, computed, h, provide } from "vue";
import { useRouter } from "vue-router";

import { useOrderStore } from "./../lib/store/orderStore";
import { useCompanyStore } from "../lib/store/companyStore.js";

import Products from "./../components/products/Products.vue";
import ProductsList from "./../components/products/ProductsList.vue";
import PrePaymentLayouts from "./../layouts/PrePaymentLayout.vue";

import { ElNotification } from "element-plus";

const TYPE_OPTION_AMOUNT = "amount";
const TYPE_OPTION_DISCOUNT = "discount";
const TYPE_OPTION_PRICE = "price";
const DEFAULT_COUNT = "0";
const router = useRouter();

const productStore = useOrderStore();
const companyStore = useCompanyStore();
const show = ref(false);

const mutatedProduct$ = reactive({
  products: computed(() => [...productStore.products]),
  getProducts: computed(() => [...productStore.products]),
});

const notify = (title, message, type = "info") =>
  ElNotification({
    title,
    message: h("span", { style: "color: teal" }, message),
    type: type,
  });

// provide("chooseProductHandler", onChooseProduct)

const userName = computed(() => companyStore.userName);
const companyName = computed(() => companyStore.companyName);
const currency = computed(() => companyStore.currency);
const translations = computed(() => companyStore.translations);
const useBarcodeScanner = computed(() => companyStore.useBarcodeScanner);
const inventoryIntegration = computed(() => companyStore.inventoryIntegration);
const warehouse = computed(() => companyStore.warehouse);
const admin = computed(() => companyStore.admin);
const selectProduct$ = computed(() => productStore.getCurrent()?.items ?? []);
const onFilterProductCategory = (ctg$) => {
  mutatedProduct$.getProducts = computed(() => [...props.products]);
  if (ctg$ === "") {
    mutatedProduct$.products = computed(() => mutatedProduct$.getProducts);
    return false;
  }
  let filter = mutatedProduct$.products.filter(
    (product) => product.category.name === ctg$
  );
  mutatedProduct$.products = computed(() => [...filter]);
};
const onFilterProductName = (ctg$) => {
  mutatedProduct$.getProducts = computed(() => [...props.products]);
  if (ctg$ == "") {
    mutatedProduct$.products = computed(() => mutatedProduct$.getProducts);
    return false;
  }
  let filter = mutatedProduct$.products.filter(
    (product) =>
      product.name.toLowerCase().includes(ctg$.toLowerCase()) ||
      product.pos_barcode.code.toLowerCase().includes(ctg$.toLowerCase()) ||
      product.pos_ean_upc_barcode.toLowerCase().includes(ctg$.toLowerCase())
  );
  let exactMatch = filter.find(
    (product) =>
      product.pos_barcode.code.toLowerCase() == ctg$.toLowerCase() ||
      product.pos_ean_upc_barcode.toLowerCase() == ctg$.toLowerCase()
  );

  if (exactMatch) {
    let product = reactive({
      quantity: 1,
      edit: false,
      discount: 0,
      taxe: exactMatch.tax_ids ?? [0],
      ...exactMatch,
      onIncrement: () => state.product.quantity++,
      onDecrement: () => state.product.quantity--,
      onPrice: (count) => (state.product.price = parseFloat(count)),
      onQuantity: (count) => (state.product.quantity = parseFloat(count)),
      onDiscount: (count) => (state.product.discount = parseFloat(count)),
    });
    onChooseProduct(product);
    ctg$ = "";
  } else mutatedProduct$.products = computed(() => [...filter]);
};
const onPayment = () => {
  if (productStore.getCurrent() && productStore.getCurrent().items.length) {
    productStore._processing = !productStore._processing;
    productStore.onTotalAmount();
    router.push({ path: "/pay" });
  } else {
    notify("Alerta", "Debe de agregar productos a la orden antes de pagar");
  }
};
</script>
