<template>
  <main class="max-h-screen h-screen flex flex-col p-3">
    <ReadyPaymentLayout>
      <template #header>
        <div class="p-3">
          <button
            class="bg-primary text-white w-full p-2 px-4 rounded"
            @click="
              () => {
                router.push({ path: '/' });
                keyBoard.price = '0.00';
                paymentStore.selectedPaymentMethods = [];
              }
            "
          >
            Atras
          </button>
        </div>
        <div class="grow flex justify-center flex-col">
          <span v-if="Object.keys(order.client).length">
            {{ order.client?.email }}
          </span>
        </div>
        <div class="flex item-center text-center justify-between p-3 w-full">
          <div class="flex gap-2 justify-end items-center text-center w-full">
            <span class="text-sm"> Cantidad total a pagar:</span>
            <span class="text-2xl">
              {{ formatNumber(order?.totalOrder) }}
            </span>
          </div>
        </div>
      </template>

      <template #buy>
        <article
          class="flex flex-col gap-2 overflow-y-auto p-5 justify-between h-full max-h-screen"
        >
          <p class="grow-0 text-center text-xl">
            Factura Nº: <span class="text-primary">{{ order?.id }}</span>
          </p>
          <div class="grow flex flex-col gap-2 overflow-y-auto">
            <div v-for="product in selectProduct" :key="product.id">
              <ItemProductBill :product="product" />
            </div>
          </div>
          <div class="grow-0">
            <TotalOrder
              :total="order?.totalOrder"
              :subTotal="order?.subtotalOrder"
              :taxesTotal="order?.taxtotalOrder"
              :taxesData="order?.taxesJustifications"
              placement="right"
            />
          </div>
        </article>
      </template>
      <template #typePurchase>
        <!-- NOTE: methodPayment -->
        <el-button-group class="w-full p-3" style="display: flex !important">
          <el-button
            v-for="(paymentTypes, idx) in paymentStore.availablePaymentMethods"
            :key="idx"
            class="grow flex gap-2"
            :class="[
              !!paymentTypes.active
                ? 'dnb-payment'
                : 'dnb-payment-ligth text-primary',
            ]"
            @click="
              paymentStore.addNewPaymentMethod(paymentTypes, keyBoard.getPrice)
            "
          >
            {{ paymentTypes.name }}
            <!-- FIXME: size property is not added
                <Component
                  v-if="paymentType.icon"
                  v-bind:is="paymentType.icon.value"
                  v-bind="paymentType.icon.props"
                ></Component> 
              -->
          </el-button>
          <!-- @click="onChangePaymentMethod(paymentTypes)" -->
          <!-- DEBUG: <el-tooltip
            class="box-item"
            effect="customized"
            content="Añadir metodo de pago"
            placement="top-start"
          >
            <el-button
              class="grow-0 dnb-payment text-white px-4 p-2 rounded"
              @click="addPaymentMethod"
            >
              +
            </el-button>
          </el-tooltip> -->
        </el-button-group>

        <!-- NOTE: keyboard and imput -->
        <div
          class="flex flex-auto flex-row items-stretch justify-between px-1 h-full pb-0"
        >
          <div
            class="flex flex-col flex-colitems-stretch h-[350px] overflow-y-auto items-stretch gap-2 grow py-1 px-2 w-2/4"
          >
            <div
              v-for="(
                paymentMethod, idx
              ) in paymentStore.selectedPaymentMethods"
              :key="idx"
              class="flex self-auto"
            >
              <div class="flex grow gap-2">
                <button
                  class="flex grow self-auto rounded focus:outline focus:outline-3 focus:outline-primary focus:outline-offset-1"
                  :class="[
                    paymentStore.selectedPaymentMethods[idx].active
                      ? 'bg-primary text-white'
                      : 'bg-complementary',
                  ]"
                  @click="
                    () =>
                      paymentStore.onAvtivePaymentMethod({
                        id: paymentMethod.id,
                      })
                  "
                >
                  <div
                    class="flex items-stretch self-stretch gap-2 w-full py-1 px-4 grow"
                  >
                    {{
                      paymentStore.getPaymentTypeDef(paymentMethod.paymentType)
                        .name
                    }}:
                    {{ formatNumber(paymentMethod.amount) }}
                    <!-- {{ formatNumber(keyBoard.getPrice) }} -->
                  </div>
                </button>
                <div class="relative">
                  <el-popover
                    v-if="
                      paymentStore.getAdditionalFields(
                        paymentMethod.paymentType
                      )
                    "
                    :visible="visible"
                    placement="bottom"
                    title="Cedula de Identidad"
                    :width="200"
                  >
                    <template #reference>
                      <el-button
                        @click="() => (visible = !visible)"
                        class="grow-0 bg-primary"
                      >
                        <UilClipboardAlt />
                      </el-button>
                    </template>
                    <div>
                      <el-input
                        v-for="(field, idx) in paymentStore.getAdditionalFields(
                          paymentMethod.paymentType
                        )"
                        :key="idx"
                        v-model="paymentMethod.inputs[field.id]"
                        :type="field.type"
                        :placeholder="field.name"
                      ></el-input>
                    </div>
                  </el-popover>

                  <el-tooltip
                    class="box-item"
                    content="Borra pago"
                    placement="top"
                  >
                    <el-button
                      v-if="paymentStore.selectedPaymentMethods.length > 1"
                      @click="paymentStore.removePaymentMethod(idx)"
                      type="danger"
                      class="grow-0"
                    >
                      x
                    </el-button>
                  </el-tooltip>
                </div>
              </div>
            </div>
          </div>
          <div class="grow-0 flex flex-col gap-2 w-2/4 py-1 px-2 pl-3 h-full">
            <PaymentKeyBoard />
            <!-- NOTE: alerts -->
            <RemainingAmountTracker
              :total="totalAmount"
              :paid="paymentStore.getTotalPaymentAmount"
              :currency="currency"
            />
          </div>
        </div>
        <!-- NOTE: completePayment -->
        <div class="flex p-3 gap-3">
          <div class="grow">
            <button
              class="bg-primary-dark text-white w-full p-2 rounded"
              @click="completePayment"
            >
              Procesar
            </button>
          </div>
        </div>
      </template>
    </ReadyPaymentLayout>
  </main>
</template>

<script setup>
import { formatNumber, formatAmount } from "../lib/utils/money";
import { useOrderStore } from "./../lib/store/orderStore";
import { usePaymentStore } from "./../lib/store/paymentStore";
import { useRouter } from "vue-router";
import { ref, inject, computed } from "vue";
import { ElMessageBox, ElLoading } from "element-plus";
import { errorMessageByCode } from "../lib/utils/message";
import { useNotification } from "../lib/composables/useNotification.js";
import createOrder from "../lib/server/createOrder.js";
import { useCompanyStore } from "../lib/store/companyStore";
import { useKeyboardStore } from "../lib/store/keyboardStore";
import useKeyboardPayment from "../lib/composables/useKeyboardPayment";
import RemainingAmountTracker from "./../components/alerts/RemainingAmountTracker.vue";
import PaymentKeyBoard from "./../components/keyboard/PaymentKeyBoard.vue";
import ReadyPaymentLayout from "./../layouts/ReadyPaymentLayout.vue";

import { UilClipboardAlt } from "@iconscout/vue-unicons";

import ItemProductBill from "../components/items/ItemProductBill.vue";
import TotalOrder from "../components/info/TotalOrder.vue";

const { onAddQuantityPrice } = useKeyboardPayment();
const eventBus = inject("EventBus");
const productStore = useOrderStore();
const paymentStore = usePaymentStore();
const router = useRouter();
const notification = useNotification();
const keyBoard = useKeyboardStore();
const currency = computed(() => useCompanyStore().currency.symbol);

const selectProduct = computed(() => productStore.getCurrent()?.items ?? []);

let order = productStore.getCurrent();
let operationCanceled = false;
let loading;
let showCancelButton = ref(false);
let totalAmount = order?.totalOrder.toString();

const visible = ref(true);
keyBoard.price = order?.totalOrder.toString();

if (!productStore || !productStore.orders[productStore.getProcess]) {
  router.push({ path: "/" });
}

if (!paymentStore.selectedPaymentMethods.length) {
  paymentStore.addPaymentMethod(order);
}

const back = () => router.push({ path: "/" });

function cancelPayment() {
  if (!loading) return;
  loading.close();
  showCancelButton.value = false;
  operationCanceled = true;
}

function isPaymentCompleteOrNotify() {
  if (paymentStore.getPaymentAmount >= keyBoard.getPrice) return true;

  notification.create({
    title: "Pago Incompleto",
    message: `El monto total a pagar es ${keyBoard.getPrice}
        y el total pagado es ${getPaymentAmount()},
        por favor complete el pago antes de continuar`,
  });
}

function confirmPaymentProcess() {
  return ElMessageBox.confirm(
    "¿Seguro que desea completar la venta?",
    "Venta",
    { cancelButtonText: "Cancelar", confirmButtonText: "Aceptar" }
  );
}

const completePayment = async () => {
  operationCanceled = false;
  if (!isPaymentCompleteOrNotify()) return;

  const result = await confirmPaymentProcess();

  if (result != "confirm") return;

  loading = ElLoading.service({
    lock: true,
    text: "Procesando pago...",
    background: "rgba(0, 0, 0, 0.7)",
  });
  showCancelButton.value = true;

  let response;
  try {
    response = await paymentStore.handlePaymentMethods();
  } catch (error) {
    if (operationCanceled) return;
    console.log(error);

    notification.create({
      title: "Error",
      message: errorMessageByCode(error.code ?? error.message),
      type: "warning",
    });

    loading.close();
    showCancelButton.value = false;

    return;
  }

  notification.create({
    title: "Pago completado exitosamente",
    message: response.data?.data?.message,
    type: "success",
  });

  loading.setText("Guardando Orden...");

  const { items, client } = JSON.parse(JSON.stringify(order));
  const payments = JSON.parse(
    JSON.stringify(paymentStore.selectedPaymentMethods)
  );

  try {
    const response = await createOrder(
      items,
      client,
      paymentStore.getSerializedPayments()
    );
    if (response.status != 200) {
      notification.create({
        title: "Error",
        message: `Error al guardar la compra \n${response.status}#${response.statusText}`,
        type: "warning",
      });

      throw new Error("");
    }

    order.id = response.data?.data?.id;

    notification.create({
      title: "Orden creada exitosamente",
      message: response.data?.data?.message,
      type: "success",
    });

    const recibos = paymentStore.selectedPaymentMethods
      .map((p) => p.result?.recibo)
      .filter((recibo) => recibo);
    eventBus.emit("payment:completed", order, client, recibos);

    await new Promise((res) => setTimeout(res, 2000));

    router.push({ path: `/receipt` });
  } catch (error) {}

  loading.close();
  showCancelButton.value = false;
};
</script>
