<style>
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
</style>
<template>
  <article
    class="w-full h-screen flex justify-between item-center p-16"
    style="min-height: 500px"
  >
    <div class="bg-white h-auto flex-1 rounded shadow-md">
      <header
        class="flex justify-between gap-2 border-b-2 border-complementary"
      >
        <div class="p-3">
          <button
            class="bg-primary text-white w-full p-2 rounded"
            @click="finishSell"
          >
            Finalizar
          </button>
        </div>
      </header>

      <div class="flex">
        <div class="w-full">
          <div class="flex justify-center gap-2">
            <div class="flex flex-col w-full items-center">
              <!-- <el-button type="primary">Enviar</el-button> -->
            </div>
          </div>
          <el-row class="p-10" justify="space-around" style="height: 70vh">
            <div
              class="el-col el-col-10"
              v-for="({ receipt, title, id }, idx) in receipts"
              :key="idx"
            >
              <el-card
                :body-style="{ padding: '0px', height: '280px' }"
                style="margin: auto; min-height: 300px; width: 325px"
                shadow="hover"
              >
                <template #header>
                  <div class="card-header">
                    <span>{{ title }}</span>
                    <el-button
                      text
                      @click="printReceipt('payment-receipt-' + id)"
                      type="primary"
                      class="button"
                    >
                      Imprimir
                    </el-button>
                  </div>
                </template>
                <iframe
                  style="width: 100%; height: 100%"
                  :id="'payment-receipt-' + id"
                  :srcdoc="receipt"
                ></iframe>
              </el-card>
            </div>

            <!-- <el-input :disabled="sendingEmail" type="email" v-model="receiptEmail" style="height: 35px;margin-top: 1em"> -->
            <!--   <template #prepend>Correo Electronico</template> -->
            <!--   <template #append> -->
            <!--     <el-button v-loading="sendingEmail" :disabled="sendingEmail" @click="sendEmail(receiptEmail)"><i -->
            <!--         class="fa fa-paper-plane"></i> </el-button> -->
            <!--   </template> -->
            <!-- </el-input> -->
          </el-row>
        </div>
      </div>
    </div>
  </article>
</template>
<script setup>
import { useRouter } from "vue-router";
import { ElLoading, ElNotification } from "element-plus";
import { ref, h, reactive, onUpdated, onMounted } from "vue";
import { useOrderStore } from "./../lib/store/orderStore";
import _, { parseInt } from "lodash";
import getOrderReceipt from "../lib/server/getOrderReceipt";
import sendReceiptToEmail from "../lib/server/sendEmail";
import { usePaymentStore } from "../lib/store/paymentStore";

const router = useRouter();
const productStore = useOrderStore();
let receipt = ref("<div> Cargando <div>");
let _invoice = productStore.getCurrent();
let receiptEmail = ref(_invoice.client?.email);
const receipts = reactive(
  usePaymentStore()
    .selectedPaymentMethods.filter((p) => p.result?.recibo)
    .map((p) => ({
      title: "Referencia de Pago #" + p.result?.referencia,
      receipt: '<pre style="font-size: smaller">' + p.result?.recibo + "</pre>",
      id: parseInt(Math.random() * 1000),
    }))
);

const screenLoadingServices = ElLoading.service({
  lock: true,
  text: "Cargando",
  background: "rgba(0, 0, 0, 0.7)",
});

const notify = (title, message, type = "info") =>
  ElNotification({
    title,
    message: h("span", { style: "color: teal" }, message),
    type: type,
  });
const showNotifyOfInvoiceDelivery = _.partial(notify, "Envio de Factura", _, _);

getOrderReceipt(_invoice.id)
  .then(async (response) => {
    if (response.status != 200)
      notify(
        "Factura",
        "Error al obtener la información de la factura",
        "error"
      );

    console.log(response.data);
    receipt.value = response.data;
    receipts.unshift({
      title: "Recibo de Compra",
      receipt: response.data,
      id: parseInt(Math.random() * 1000),
    });
  })
  .then(screenLoadingServices.close)
  .catch(screenLoadingServices.close);

const adjustFramesSize = () =>
  receipts.forEach((receipt) => {
    const frame = document.getElementById("payment-receipt-" + receipt.id);
    frame.style.height = frame.contentWindow.document.body.scrollHeight + "px";

    frame.style.width = frame.contentWindow.document.body.scrollWidth + "px";
  });

const sendingEmail = ref(false);

function printReceipt(id) {
  let preview = document.querySelector("#" + id);
  preview.contentWindow.print();
}
async function sendEmail() {
  this.sendingEmail = true;
  try {
    await sendReceiptToEmail(this._invoice.id, this.receiptEmail);
    showNotifyOfInvoiceDelivery("Factura enviada con exito", "success");
  } catch (error) {}

  this.sendingEmail = false;
}
async function finishSell() {
  productStore.orders.splice(productStore.getProcess, 1);
  productStore.getProcess = null;
  await router.push({ path: "/" });
}
</script>
