@charset "UTF-8";

/*--General Start--*/
body
{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #000;
}

table
{
    width: 100%;
}

th, td
{
    padding: 18px 9px 18px 9px;
}
td.p-none,
th.p-none
{
    padding: 5px 5px 5px 5px !important;
}


.row
{
    font-size: 0;
}

.mb-1
{
    margin-bottom: 8px;
}

.mt-1
{
    margin-top: 8px;
}

.ml-1
{
    margin-left: 8px;
}

.mt-0
{
    margin-top: 0 !important;
}

.mt-1
{
    margin-top: 8px;
}

.mt-2
{
    margin-top: 16px;
}

.mt-3
{
    margin-top: 24px;
}

.mt-4
{
    margin-top: 32px;
}

.mt-5
{
    margin-top: 40px;
}

.mt-6
{
    margin-top: 48px;
}

.mt-7
{
    margin-top: 56px;
}

.mt-8
{
    margin-top: 64px;
}

.mt-9
{
    margin-top: 72px;
}

.pb-0
{
    padding-bottom: 0;
}

.pb-1
{
    padding-bottom: 8px;
}

.py-1
{
    padding-bottom: 8px;
    padding-top: 8px;
}

.py-2
{
    padding-bottom: 16px;
    padding-top: 16px;
}

.pr-2
{
    padding-right: 16px;
}

.pl-2
{
    padding-left: 16px;
}

.pl-3
{
    padding-left: 24px;
}

.pl-4
{
    padding-left: 32px;
}

.pl-5
{
    padding-left: 40px;
}

.pl-6
{
    padding-left: 48px;
}

.pl-7
{
    padding-left: 56px;
}

.pl-8
{
    padding-left: 64px;
}

.pl-9
{
    padding-left: 72px;
}
.border{
    border: solid 1px #000 !important;
}
.border-left{
    border-left: 1px dashed #000 !important;
}
.border-bottom{
    border-bottom: 1px solid #000 !important;
}
.border-1
{
    border: 1px solid #e5e5e5;
}
.border-top-1
{
     border-top: 1px solid #e5e5e5;
}

.border-bottom-1
{
    border-bottom: 1px solid #e5e5e5;
}

.border-radius-default
{
    border-radius: 0.25rem
}

.float-left
{
    float: left !important;
}

.float-right
{
    float: right !important;
}

.font-size-unset
{
    font-size: unset;
}

.text
{
    color: #000;
    margin-top:8px;
    font-size: 11px;
}

.text-nowrap
{
    white-space: nowrap;
}

.text-left
{
    text-align: left;
}

.text-right
{
    text-align: right;
}

.text-center
{
    text-align: center;
}

.text-white
{
    color: #ffffff;
}

.bg-default
{
    background-color: #3c3f72;
}

.bg-primary
{
    background-color: #1A73E8;
}
/*--General Finish--*/

/*--Print Template Default Start--*/
.col-55
{
    display: inline-block;
    width: 58%;
    vertical-align: top;
}
.col-50
{
    display: inline-block;
    width: 44%;
    vertical-align: top;
}

.col-70
{
    display: inline-block;
    width: 70%;
    vertical-align: top;
}

.col-42
{
    display: inline-block;
    width: 42%;
    vertical-align: top;
}
.col-30
{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
.col-16
{
    display: inline-block;
    max-width: 16%;
    vertical-align: top;
}

.col-100
{
    display: inline-block;
    width: 100%;
    vertical-align: top;
}

.lines
{
    border-collapse: collapse;
    table-layout: fixed;
    border-bottom: 1px solid #e5e5e5;
}

.lines tbody td
{
    border-bottom: 1px solid #e5e5e5;
}

.lines .item
{
    width: 50%;
}

.lines .quantity
{
    width: 10%;
    text-align: center;
}

.lines .price
{
    width: 20%;
    text-align: right;
}

.lines .discount
{
    width: 10%;
    text-align: right;
}

.lines .total
{
    width: 20%;
    text-align: right;
}

.d-logo
{
    padding-top: 35px;
    padding-bottom:64.5px;
}

.d-note
{
    width: 80%;
    background-color: #e5e5e5;
}
/*--Print Template Default Finish--*/

/*--Print Template Classic Start--*/
.c-logo
{
    padding-top: 25px;
}

.c-note
{
    width: 80%;
}

.invoice-classic-line
{
    border: 2px solid #3c3f72;
}

.invoice-classic-frame
{
    width: 90%;
    height:70px;
    border: 3px solid #3c3f72;
}

.invoice-classic-inline-frame
{
    margin: 0.3% 1% 0.3% 1%;
    width: 95% !important;
    height: 59px;
    border: 3px solid #3c3f72;
}

.col-33
{
    display: inline-block;
    width: 33%;
    vertical-align: top;
}

.c-lines thead th
{
    border-top: 1px dashed #e5e5e5;
}

.c-lines tbody td
{
    border-top: 1px dashed #e5e5e5;
}

.c-lines .item
{
    width: 50%;
}

.c-lines .quantity
{
    width: 10%;
    text-align: center;
}

.c-lines .price
{
    width: 20%;
    text-align: right;
}

.c-lines .discount
{
    width: 10%;
    text-align: right;
}

.c-lines .total
{
    width: 20%;
    text-align: right;
}

.border-top-dashed
{
    border-top: 1px dashed #e5e5e5;
}
/*--Print Template Classic Finish--*/

/*--Print Template Modern Start--*/
.align-items-center
{
    align-items: center !important;
}

.d-flex
{
    display: flex !important;
}

.m-note
{
    width: 80%;
}

.m-lines
{
    border-collapse: collapse;
    table-layout: fixed;
}

.m-lines .item
{
    width: 50%;
}

.m-lines .quantity
{
    width: 10%;
    text-align: center;
}

.m-lines .price
{
    width: 20%;
    text-align: right;
}

.m-lines .discount
{
    width: 10%;
    text-align: right;
}

.m-lines .total
{
    width: 20%;
    text-align: right;
}
/*--Print Template Modern Finish--*/

/*--Print Reports Start--*/
.rp-border-top-1
{
    border-top: 1px solid #e5e5e5;
}

.rp-border-bottom-1
{
    border-bottom: 1px solid #e5e5e5;
}

.rp-border-top-1
{
    border-top: 1px solid #e5e5e5;
}

.rp-border-0
{
    border: 0 !important;
}

.rp-border-collapse
{
    border-collapse: collapse;
}

.rp-float-left
{
    float: left;
}

.rp-float-right
{
    float: right;
}
/*--Print Reports Finish--*/

.lines .empty-items:hover,
.c-lines .empty-items:hover,
.m-lines .empty-items:hover {
    background-color: #f6f9fc;
    text-decoration: none;
}

.clearfix:after {
	display: block;
	clear: both;
	content: ""
}

.show-card {
    padding: 0px 15px;
    border-radius: 0px;
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 16px;
}

.card-amount-badge h5 {
    font-size: 20px;
}

.card-amount-badge span {
    font-size: 32px;
}

.show-card-body {
    padding: 1.5rem 2.5rem;
}

.show-card-bg-success {
    width: 350px;
    height: 150px;
    border-radius: unset;
}
.show-company-value strong {
    font-weight: bold;
}

.show-company p {
    min-height: 52px;
}

.text-red{
    color: red;
}
.text-sm{
    font-size: 12px !important;
}
.br-1{
    border-right: dashed 1px #000;
}
.justify-content-between{   
    justify-content: space-between !important;
}

.justify-content-center{   
    justify-content: center !important;
}

.fragment{
    border-color: #000 !important;
    border-radius: 5px;
    border: solid 1px;
    padding: 0 10px;
    padding-bottom: 10px;
}


@media (max-width: 1200px) {
    .transaction-head-text {
        max-width: 100px !important;
    }
}

@media (max-width: 991px) {
    .transaction-head-text {
        max-width: 75px !important;
    }
}

@media (max-width: 575.98px) {
    .show-card {
        overflow-y: scroll;
    }

    .show-card-body {
        padding: 1.5rem 1.5rem;
    }
}


.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .pace-inactive {
    display: none;
  }
  
  .pace .pace-progress {
    background: #fff;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 3px;
  }
  
  .pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #fff, 0 0 5px #fff;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
  }
  
  .pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 50%;
    right: 50%;
    width: 34px;
    height: 34px;
    border: solid 3px transparent;
    border-top-color: #fff;
    border-left-color: #fff;
    border-radius: 50%;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
  }
  
  @-webkit-keyframes pace-spinner {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-moz-keyframes pace-spinner {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-o-keyframes pace-spinner {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-ms-keyframes pace-spinner {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @keyframes pace-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
  }
  
  .pace.pace-active {
      width: 100%;
      height: 100%;
      z-index: 3000;
      position: fixed;
      top: 0;
      background-color: #1d2125;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  