<template>
  <article class="flex grow w-full">
    <div class="flex-1 my-5 w-full">
      <div
        v-if="products.length"
        class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-3"
      >
        <SlideUp
          v-for="(product, key) in products"
          :key="product.id"
          :delay="20 + key * 10"
        >
          <button
            class="w-full block rounded-md active:outline active:outline-5 active:outline-primary active:outline-offset-2"
            @click="onChooseProduct(product)"
          >
            <CardProduct :product="product" :currency="currency" />
          </button>
        </SlideUp>
      </div>
      <div v-else class="grid grid-cols-1">
        <div class="bg-white rounded-md">
          <div class="text-center">
            <h1 class="p-10 text-2xl font-bold">No se encontrarón productos</h1>
          </div>
        </div>
      </div>
    </div>
  </article>
</template>

<script setup>
import CardProduct from "./../../../components/products/CardProduct.vue";
import SlideUp from "./../../../components/animations/SlideUp.vue";
import { useProductStore } from "./../../../lib/store/productStore.js";
import { useOrderStore } from "./../../../lib/store/orderStore.js";
import { inject, reactive, defineProps, defineEmits, computed } from "vue";

const { translations, currency } = defineProps({
  translations: { type: Object, default: () => ({}) },
  currency: { type: Object, default: () => ({}) },
});
const products = computed(() => useProductStore().leakedProducts);

const onChooseProduct = (ctx$) => useOrderStore().chooseProduct(ctx$);
</script>
