<template>
  <ShoppingListLayouts :admin="admin" :show="showClientSelect">
    <template #header>
      <h1 class="text-xl flex flex-col">
        <span>{{
          (order?.client?.name ?? "Cliente Invitado").toUpperCase()
        }}</span>
        <span class="text-sm">{{ userName }}</span>
      </h1>
      <div>
        <button
          v-ripple
          @click="toggleSelectClient"
          class="bg-secondary p-2 rounded-md text-white"
        >
          <uil-times v-if="showClientSelect" size="1.25rem"></uil-times>
          <uil-user v-else size="1.25rem"></uil-user>
        </button>
      </div>
    </template>

    <template #body>
      <div v-if="selectProduct.length">
        <div v-for="product in selectProduct" :key="product.id">
          <div
            class="my-2"
            v-motion
            :initial="{ opacity: 0, x: 100 }"
            :enter="{ opacity: 1, x: 0, scale: 1 }"
            :variants="{ custom: { scale: 2 } }"
            :delay="20 + product.id * 10"
          >
            <ListProductActions
              :product="product"
              :onIncrement="onIncrement"
              :onDecrement="onDecrement"
              :onEditItemOrder="orderStore.onEditItemOrder"
            />
          </div>
        </div>
      </div>
    </template>

    <template #footer>
      <div
        v-if="showBoard"
        v-motion
        :initial="{ opacity: 0 }"
        :enter="{ opacity: 1 }"
        :delay="200"
        class="flex flex-col gap-2"
      >
        <div class="flex justify-between w-full">
          <span
            class="flex text-center items-center justify-between w-full bg-complementary p-2 rounded"
          >
            Total: {{ formatNumber(order.totalOrder ?? "0.00") }}
            <span v-if="getClient" class="text-sm">
              A nombre de: <span class="text-secondary">{{ getClient }}</span>
            </span>
          </span>
        </div>

        <ShoppingKeyBoard />
      </div>
      <TotalOrder
        v-else
        :total="order?.totalOrder"
        :subTotal="order?.subtotalOrder"
        :taxesTotal="order?.taxtotalOrder"
        :discountTotal="order?.totalDiscount"
        :taxesData="order?.taxesJustifications"
        placement="left"
      />

      <div class="flex justify-between grow gap-2">
        <button
          v-ripple
          @click="onPayment"
          class="grow bg-primary text-white w-full p-2 rounded"
        >
          Pagar
        </button>
        <button
          v-ripple
          @click="
            () => {
              if (order)
                if (order.items.length) {
                  showBoard = !showBoard;
                  onEditItemOrder();
                }
            }
          "
          class="grow-0 bg-primary text-white w-auto p-2 rounded"
        >
          <uil-ticket v-if="showBoard" size="1.25rem"></uil-ticket>
          <uil-apps v-else size="1.25rem"></uil-apps>
        </button>
      </div>
    </template>

    <template #panel>
      <div
        class="bg-primary absolute inset-0 flex flex-col flex-initial justify-between rounded-md p-5"
        :class="{ 'm-3 h-[96vh]': admin, 'mx-5 h-screen': !admin }"
      >
        <Client :clients="clients" @close="toggleSelectClient" />
      </div>
    </template>
  </ShoppingListLayouts>
</template>

<script setup>
import { ref, computed, toRefs, defineProps } from "vue";

import { formatNumber } from "./../../../lib/utils/money";

import { useOrderStore } from "./../../../lib/store/orderStore";
import { useCompanyStore } from "../../../lib/store/companyStore.js";
import { useKeyboardStore } from "./../../../lib/store/keyboardStore.js";

import ListProductActions from "../../../components/lists/ListProductActions.vue";
import TotalOrder from "./../../../components/info/TotalOrder.vue";
import Client from "./../../../components/clients/Client.vue";
import ShoppingListLayouts from "./../../../layouts/ShoppingListLayout.vue";
import ShoppingKeyBoard from "./../../../components/keyboard/ShoppingKeyboard.vue";
import { UilUser, UilApps, UilTicket, UilTimes } from "@iconscout/vue-unicons";

const {
  show,
  admin,
  onDelete,
  onPayment,
  onClient,
  onReset,
  onIncrement,
  onDecrement,
} = defineProps({
  show: { type: Boolean, required: false },
  admin: { type: Boolean, default: false },
  onDelete: { type: Function, required: false },
  onPayment: { type: Function, required: false },
  onClient: { type: Function, required: false },
  onReset: { type: Function, required: false },
  onIncrement: { type: Function, required: false },
  onDecrement: { type: Function, required: false },
});

const showBoard = ref(false);

const orderStore = computed(() => useOrderStore());
const order = computed(() => orderStore.value.getCurrent());

const selectProduct = computed(
  () => orderStore.value.getCurrent()?.items ?? []
);

const { companyName, userName } = toRefs(useCompanyStore());
const keyboardStore = computed(() => useKeyboardStore());

const { totalOrder, subTotal$, taxesTotal$, taxesData$, getClient, clients } =
  toRefs(useOrderStore().getCurrent());

const onEditItemOrder = (id) => {
  keyboardStore.value.onSetAmountDefault({
    price: orderStore.value.getBackActive
      ? orderStore.value.getBackActive.price
      : "0.00",
    discount: orderStore.value.getBackActive
      ? orderStore.value.getBackActive.discount
      : "0.00",
    quantity: orderStore.value.getBackActive
      ? orderStore.value.getBackActive.quantity
      : 0,
  });
  keyboardStore.value.onSetQuantitiesDefault({
    price: orderStore.value.getBackActive
      ? orderStore.value.getBackActive.price
      : "0.00",
    discount: orderStore.value.getBackActive
      ? orderStore.value.getBackActive.discount
      : "0.00",
    quantity: orderStore.value.getBackActive
      ? orderStore.value.getBackActive.quantity
      : 0,
  });
};

let showClientSelect = ref(false);

const toggleSelectClient = () =>
  (showClientSelect.value = !showClientSelect.value);
</script>
