<template>
  <main class="w-full flex justify-between bg-complementary h-auto">
    <Backdrop :show="showBackdrop" />
    <AppLayouts :admin="admin">
      <template #menu>
        <SideBar />
      </template>

      <template #body>
        <router-view></router-view>
      </template>
    </AppLayouts>

    <!-- <div v-if="device$" class="fixed bottom-0 left-0 right-0"> -->
    <!--   <div class="absolute bottom-5 left-20"> -->
    <!--     <el-button type="primary" circle @click="toggleFullScreen"> -->
    <!--       <svg -->
    <!--         v-if="device$" -->
    <!--         xmlns="http://www.w3.org/2000/svg" -->
    <!--         fill="none" -->
    <!--         viewBox="0 0 24 24" -->
    <!--         stroke-width="1.5" -->
    <!--         stroke="currentColor" -->
    <!--         class="w-4 h-4" -->
    <!--       > -->
    <!--         <path -->
    <!--           stroke-linecap="round" -->
    <!--           stroke-linejoin="round" -->
    <!--           d="M9 9V4.5M9 9H4.5M9 9L3.75 3.75M9 15v4.5M9 15H4.5M9 15l-5.25 5.25M15 9h4.5M15 9V4.5M15 9l5.25-5.25M15 15h4.5M15 15v4.5m0-4.5l5.25 5.25" -->
    <!--         /> -->
    <!--       </svg> -->
    <!--       <svg -->
    <!--         v-else -->
    <!--         xmlns="http://www.w3.org/2000/svg" -->
    <!--         fill="none" -->
    <!--         viewBox="0 0 24 24" -->
    <!--         stroke-width="1.5" -->
    <!--         stroke="currentColor" -->
    <!--         class="w-4 h-4" -->
    <!--       > -->
    <!--         <path -->
    <!--           stroke-linecap="round" -->
    <!--           stroke-linejoin="round" -->
    <!--           d="M9 9V4.5M9 9H4.5M9 9L3.75 3.75M9 15v4.5M9 15H4.5M9 15l-5.25 5.25M15 9h4.5M15 9V4.5M15 9l5.25-5.25M15 15h4.5M15 15v4.5m0-4.5l5.25 5.25" -->
    <!--         /> -->
    <!--       </svg> -->
    <!--     </el-button> -->
    <!--   </div> -->
    <!-- </div> -->
  </main>
</template>

<script setup>
import {
  reactive,
  ref,
  computed,
  onBeforeMount,
  toRaw,
  defineProps,
  provide,
} from "vue";

import Backdrop from "./layouts/Backdrop.vue";
import SideBar from "./widget/admin/SideBar.vue";
import AppLayouts from "./layouts/AppLayout.vue";
import Ppayment from "./view/PrePayment.vue";
import RPayment from "./view/ReadyPayment.vue";

import { useProductStore } from "./lib/store/productStore.js";
import { useOrderStore } from "./lib/store/orderStore";
import { useCompanyStore } from "./lib/store/companyStore.js";
import useAxios from "./lib/server/useAxios";
import { useConfigStore } from "./lib/store/configStore";

const props = defineProps({
  userName: { type: String, default: "" },
  companyName: { type: String, default: "" },
  currency: { type: Object, default: () => ({}) },
  translations: { type: Object, default: () => ({}) },
  taxes: { type: Object, default: () => ({}) },
  useBarcodeScanner: { type: Boolean, default: false },
  inventoryIntegration: { type: Boolean, default: false },
  warehouse: { type: Object, default: () => ({}) },
});

const showBackdrop = ref(false);
provide("toggleBackdrop", () => (showBackdrop.value = !showBackdrop.value));

const productStore = useProductStore();
const orderStore = useOrderStore();
const companyStore = useCompanyStore();

Object.entries(props).forEach(([prop, value]) => (companyStore[prop] = value));

let admin = props.userName === "A dmin" ? true : false;
admin = true;
companyStore.admin = admin;

const device$ = ref(globalThis.window.Device);
const products$ = reactive({ items: [] });
const client$ = reactive({ items: [] });
const { axiosGet, axiosPost } = useAxios();

async function getConfigs() {
  return axiosGet({ url: "/pos/config" }).then((response) => response.data);
}

getConfigs().then(
  (config) => typeof config == "object" && useConfigStore().$patch(config)
);

useConfigStore().$subscribe((_, data) => {
  axiosPost({ url: "/pos/config", data });
});

const searchProducts = async () => {
  const [customers$, items$] = await Promise.all(
    ["/pos/customers", "/pos/items"].map((url) => axiosGet({ url }))
  );

  products$.items = computed(() => [...items$.data]);
  client$.items = computed(() => [...customers$.data]);

  productStore.products = products$.items;
  orderStore.clients = client$.items;
  orderStore.taxes = [...props.taxes];
};

onBeforeMount(async () => {
  searchProducts();
  let refreshInformationIntervalId;
  let lastInterval = toRaw(useConfigStore().general.informationRefreshInterval);

  const startUpdater = (state) => {
    if (refreshInformationIntervalId)
      clearTimeout(refreshInformationIntervalId);

    lastInterval = toRaw(state.general.informationRefreshInterval);
    refreshInformationIntervalId = setInterval(
      searchProducts,
      state.general.informationRefreshInterval
    );
  };

  startUpdater(useConfigStore());

  useConfigStore().$subscribe(
    (_, state) =>
      lastInterval != state.general.informationRefreshInterval &&
      startUpdater(state)
  );
});

const onStartScreenShare = async () => {
  // try {
  //   let res = await axiosPost({
  //     url = "/pos/items",
  //     data = { user: props.warehouse },
  //   });
  //   if (res.status == "200") {
  //     const { onConnect } = useScreenShare();
  //     onConnect();
  //   }
  // } catch (error) {
  //   console.log(error);
  // }
};

const toggleFullScreen = () => {
  if (!document.fullscreenElement) {
    document.documentElement.requestFullscreen();
  } else {
    if (document.exitFullscreen) {
      document.exitFullscreen();
    }
  }
};
</script>

<style>
body {
  font-family: "Comfortaa", cursive !important;
}
.el-select .el-select__tags .el-tag {
  background: #136fa1 !important;
  color: white !important;
}
</style>
