<template>
  <el-container class="bg-complementary" :class="{ 'p-0 m-0': !admin }">
    <el-aside v-if="admin" class="z-20" :width="menuWidth">
      <el-scrollbar>
        <slot name="menu"></slot>
      </el-scrollbar>
    </el-aside>

    <el-container>
      <main class="h-full w-full grow">
        <slot name="body"></slot>
      </main>
    </el-container>

    <!-- <el-aside :width="asideWidth">
      <slot name="soppingList"></slot>
    </el-aside>-->
  </el-container>
</template>

<script>
export default {
  props: {
    menuWidth: { type: String, default: "60px" },
    admin: { type: Boolean, default: false },
  },
};
</script>
