<template>
  <div
    v-if="show"
    v-motion
    :initial="{ opacity: 0 }"
    :enter="{ opacity: 1 }"
    :delay="200"
    class="fixed z-30 inset-0 w-full flex backdrop-blur-sm bg-black/50"
  >
    <slot name="approach"></slot>
  </div>
</template>
<script setup>
import { toRefs } from "vue";

const props = defineProps(["show"]);
let { show } = toRefs(props);
</script>
