<template>
  <el-drawer :v-model="show" :title="title" :direction="direction" :size="size">
    <slot name="drawerBody"></slot>
  </el-drawer>
</template>

<script setup>
import { defineProps, toRefs } from "vue";
const props = defineProps({
  show: { type: Boolean, default: false },
  title: { type: String, default: "" },
  direction: { type: String, default: "rtl" },
  size: { type: String, default: "30%" },
});

const { show, title, direction, size } = toRefs(props);
</script>
