<template>
  <el-container class="h-full bg-complementary">
    <el-container>
      <el-header class="h-full bg-complementary" style="--el-header-height: 100%">
        <slot name="header"></slot>
      </el-header>
      <!-- <el-main>
        <main class="h-full">
          <slot name="main"></slot>
        </main>
      </el-main>-->
    </el-container>

    <el-aside :width="asideWidth">
      <slot name="aside"></slot>
    </el-aside>
  </el-container>
</template>

<script>
export default {
  props: {
    asideWidth: { type: String, default: "352px" },
  },
};
</script>
