<template>
  <main class="flex flex-auto flex-col gap-3">
    <header
      class="flex place-content-stretch place-items-stretch justify-between bg-white mx-5 rounded-md"
    >
      <slot name="header"></slot>
    </header>
    <article class="flex grow gap-3 mx-5">
      <div class="grow-0 w-1/3 bg-white rounded-md">
        <slot name="buy"></slot>
      </div>
      <div
        class="grow flex flex-col justify-between bg-white rounded-md overflow-y-auto p-7"
      >
        <slot name="typePurchase"></slot>
      </div>
    </article>
  </main>
</template>

<!-- <script>
export default {
  name: "ReadyPaymentLayout",
};
</script> -->
