<template>
  <article class="fixed top-0 grow h-screen max-h-screen max-w-1/5 w-full z-30">
    <div
      class="absolute inset-0 flex flex-col flex-initial justify-between bg-white p-5 z-30"
      :class="{ 'mt-3 mb-3 mr-3': admin, 'rounded-md': admin }"
    >
      <div class="grow flex flex-col justify-between h-full w-full pb-2">
        <div class="flex justify-between w-full pb-2">
          <slot name="header"></slot>
        </div>
        <div class="grow overflow-y-auto">
          <slot name="body"></slot>
        </div>
        <div class="grow-0 flex flex-col gap-2">
          <slot name="footer"></slot>
        </div>
      </div>
    </div>

    <div v-if="show" class="relative right-[139%] w-[32rem]" v-motion>
      <!-- :initial="{ opacity: 0, x: 100 }" -->
      <!-- :enter="{ opacity: 1, x: 0 }" -->
      <!-- :delay="100" -->
      <slot name="panel"></slot>
    </div>
  </article>
</template>

<script>
export default {
  name: "ShoppingListLayouts",
  props: {
    admin: { type: Boolean, default: false },
    show: { type: Boolean, required: false },
  },
};
</script>
