<template>
  <div>
    <div>
      <el-row class="mb-3" :gutter="20">
        <el-col :span="14"
          ><div class="grid-content">
            <div>Puerto de la Terminal</div>
            <el-input
              v-model="configStore.terminalPort"
              placeholder="Puerto de la impresora"
              type="number"
            >
            </el-input></div
        ></el-col>
        <el-col :span="10">
          <div class="grid-content">
            <div>Protocolo</div>
            <el-select
              v-model="configStore.terminalProtocol"
              placeholder="Protocolo"
            >
              <el-option label="https" value="https" />
              <el-option label="http" value="http" />
            </el-select>
          </div>
        </el-col>
      </el-row>
      <el-popover placement="right" :width="560" trigger="click">
        <ApolloTerminalForm :resetOnSave="true" @save-terminal="addTerminal" />
        <template #reference>
          <el-button>Añadir Terminal</el-button>
        </template>
      </el-popover>
    </div>
    <el-table
      :data="terminalList"
      @current-change="selectTerminal"
      style="width: 100%"
      highlight-current-row
    >
      <el-table-column width="20">
        <template v-slot="scope">
          <el-badge
            type="success"
            is-dot
            v-if="isCurrentTerminal(scope)"
            size="small"
          ></el-badge>
        </template>
      </el-table-column>
      <el-table-column type="index" width="30"></el-table-column>
      <el-table-column property="label" label="Nombre"></el-table-column>
      <el-table-column property="ip" label="IP"></el-table-column>
      <el-table-column label="Acciones">
        <template v-slot="scope">
          <el-popover placement="right" :width="560" trigger="click">
            <ApolloTerminalForm
              :resetOnSave="false"
              :terminal="scope.row"
              @save-terminal="(terminal) => editTerminal(scope, terminal)"
            />

            <template #reference>
              <el-button plain size="small">Editar</el-button>
            </template>
          </el-popover>

          <el-button
            v-if="terminalList.length > 1"
            plain
            type="danger"
            size="small"
            @click="removeTerminal(scope.row)"
            >X</el-button
          >
        </template>
      </el-table-column>
    </el-table>
  </div>
  <!-- <div class="flex">
  </div> -->
</template>
<script>
import ApolloTerminalForm from "./../../../components/forms/ApolloTerminalForm.vue";
import { useConfigStore } from "./../../../lib/store/configStore";
import { computed, ref, reactive } from "vue";

export default {
  components: { ApolloTerminalForm },
  setup() {
    const configStore = useConfigStore();
    let selectedTerminal = ref(configStore.currentTerminal);
    const selectTerminal = (terminal) =>
      (selectedTerminal.value = configStore.currentTerminal = terminal);

    return {
      terminalList: computed(() => configStore.terminalList),
      configStore,
      selectedTerminal,
      selectTerminal,
      addTerminal: (terminal) => (
        configStore.terminalList.push(terminal), selectTerminal(terminal)
      ),
      editTerminal: (scope, terminal) =>
        (configStore.terminalList[scope.$index] = terminal),
      removeTerminal: (terminal) =>
        (configStore.terminalList = configStore.terminalList.filter(
          (_terminal) => terminal != _terminal
        )),
      isCurrentTerminal: (scope) => {
        return (
          scope.$index >= 0 &&
          configStore.terminalList[scope.$index].ip ==
            selectedTerminal.value.ip &&
          configStore.terminalList[scope.$index].label ==
            selectedTerminal.value.label
        );
      },
    };
  },
};
</script>
