<template>
  <div>
    <div>
      <el-row class="mb-3" :gutter="20">
        <el-col :span="10"
          ><div class="grid-content">
            <div>Puerto de la Impresora</div>
            <el-input
              v-model="configStore.clea.port"
              class="mb-3 w-8"
              placeholder="Puerto de la impresora"
              type="number"
            /></div
        ></el-col>
      </el-row>

      <el-popover placement="right" :width="560" trigger="click">
        <ApolloTerminalForm :resetOnSave="true" @save-terminal="add" />
        <template #reference>
          <el-button>Añadir Impresora</el-button>
        </template>
      </el-popover>
    </div>
    <el-table
      type="success"
      :data="clea.printers"
      @current-change="select"
      style="width: 100%"
      highlight-current-row
    >
      <el-table-column width="20">
        <template v-slot="scope">
          <el-badge
            type="success"
            is-dot
            v-if="isCurrent(scope)"
            size="small"
          ></el-badge>
        </template>
      </el-table-column>
      <el-table-column type="index" width="30"></el-table-column>
      <el-table-column property="label" label="Nombre"></el-table-column>
      <el-table-column property="ip" label="IP"></el-table-column>
      <el-table-column label="Acciones">
        <template v-slot="scope">
          <el-popover placement="right" :width="560" trigger="click">
            <ApolloTerminalForm
              :resetOnSave="false"
              :terminal="scope.row"
              @save-terminal="(printer) => edit(scope, printer)"
            />

            <template #reference>
              <el-button plain size="small">Editar</el-button>
            </template>
          </el-popover>

          <el-button
            v-if="clea.printers.length > 1"
            plain
            type="danger"
            size="small"
            @click="remove(scope.row)"
            >X</el-button
          >
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>
<script setup>
import ApolloTerminalForm from "./../../../components/forms/ApolloTerminalForm.vue";
import { useConfigStore } from "./../../../lib/store/configStore";
import { ref } from "vue";

const configStore = useConfigStore();
const clea = ref(configStore.clea);

const add = (printer) => (
  select(printer), configStore.clea.printers.push(printer)
);

const select = (printer) => (configStore.clea.current = printer);

const edit = (scope, printer) =>
  (configStore.clea.printers[scope.$index] = printer);

const remove = (printer) =>
  (configStore.clea.printers = configStore.clea.printers.filter(
    (_printer) => printer != _printer
  ));

const isCurrent = (scope) => {
  return (
    scope.$index >= 0 &&
    configStore.clea.printers[scope.$index].ip == configStore.clea.current.ip &&
    configStore.clea.printers[scope.$index].label ==
      configStore.clea.current.label
  );
};
</script>
