<template>
  <el-drawer
    :v-model="show" 
    title="Conciliación"
    direction="ltr"
    size="40%"
  >

    <el-collapse v-model="activeName">
      <el-collapse-item title="Reporte Z" name="0">
        <el-radio-group v-model="reportZType" label="size control" size="small">
          <el-radio-button label="general">General</el-radio-button>
          <el-radio-button label="date">Por fecha</el-radio-button>
          <el-radio-button label="number">Por número</el-radio-button>
        </el-radio-group>
        <div v-if="reportZType == 'general'"></div>
        <div v-if="reportZType == 'date'">
          <el-row class="mb-3" :gutter="20">
            <el-col :span="12">
              <div>Fecha de Inicio</div>
              <el-input type="date" v-model="reportZDate[0]"></el-input>
            </el-col>
            <el-col :span="12">
              <div>Fecha de Fin</div>
              <el-input type="date" v-model="reportZDate[1]"></el-input>
            </el-col>
          </el-row>
        </div>
        <div v-if="reportZType == 'number'">
          <el-row class="mb-3" :gutter="20">
            <el-col :span="12">
              <div>Número de Inicio</div>
              <el-input type="number" v-model="reportZNumber[0]" placeholder="N°"></el-input>
            </el-col>
            <el-col :span="12">
              <div>Número de Fin</div>
              <el-input type="number" v-model="reportZNumber[1]" placeholder="N°"></el-input>
            </el-col>
          </el-row>
        </div>
        <br>
        <el-button @click="zReport">Imprimir</el-button>

      </el-collapse-item>
      <el-collapse-item title="Reporte X" name="1">
        <el-button @click="xReport">Imprimir</el-button>
      </el-collapse-item>
    </el-collapse>
  </el-drawer>
</template>

<script setup>
import { inject, ref } from 'vue'

const {show} = defineProps({
  show: { type: Boolean, default: false },
});

const reportZType = ref("general")
const reportZDate = ref([]);
const reportZNumber = ref([]);
const reportXType = ref("general")
const eventBus = inject("EventBus")

const zReport = () => {
  console.log(reportZDate, reportZNumber)
  eventBus.emit("report:z", reportZType.value, {
    numbers: reportZNumber.value,
    dates: reportZDate.value
  })
}
const xReport = () => {
  eventBus.emit("report:x")
}
</script>
