<template>
  <div>
    <div>Intervalo de Actualización</div>
    <el-select
      v-model="informationRefreshInterval"
      filterable
      placeholder="Tiempo de actualizacion"
    >
      <el-option
        v-for="({ label, time }, idx) in RefreshTimes"
        :key="idx"
        :label="label"
        :value="time"
      />
    </el-select>
  </div>
</template>
<script>
import { toRefs } from "vue";
import { RefreshTimes, useConfigStore } from "./../../../lib/store/configStore";

export default {
  setup() {
    return {
      ...toRefs(useConfigStore().general),
      RefreshTimes,
    };
  },
};
</script>
