<template>
  <DrawerLayout :show="show" title="Configuraciones" direction="ltr" size="40%">
    <template #drawerBody>
      <el-collapse v-model="activeName">
        <el-collapse-item title="Configuración General" name="0">
          <General />
        </el-collapse-item>
        <el-collapse-item title="Terminales" name="1">
          <ApolloTerminal />
        </el-collapse-item>
        <el-collapse-item title="Impresora Fiscal" name="2">
          <CleaPrinter />
        </el-collapse-item>
      </el-collapse>
    </template>
  </DrawerLayout>
</template>

<script setup>
import ApolloTerminal from "./ApolloTerminal.vue";
import CleaPrinter from "./CleaPrinter.vue";
import General from "./General.vue";
import { useRouter } from "vue-router";

const router = useRouter();
const props = defineProps({
  show: { type: Boolean, default: false },
});
</script>
