<template>
  <div
    v-motion
    :initial="{ opacity: 0, y: 100 }"
    :enter="{ opacity: 1, y: 0, scale: 1 }"
    :variants="{ custom: { scale: 2 } }"
    :delay="delay">
    <slot> </slot>
  </div>
</template>
<script setup>

import {defineProps} from "vue"
const {delay} = defineProps(["delay"])

</script>
