<template>
  <el-dialog
    :v-model="centerDialogVisible"
    title="Warning"
    width="40%"
    align-center
  >
    <Component
      v-bind:is="currentComponent"
      v-bind="currentProperties"
    ></Component>
    <template #footer>
      <span class="dialog-footer">
        <el-button @click="centerDialogVisible = !centerDialogVisible"
          >Cancel</el-button
        >
        <el-button
          type="primary"
          @click="centerDialogVisible = !centerDialogVisible"
        >
          create
        </el-button>
      </span>
    </template>
  </el-dialog>
</template>

<script>


export default {
  props: {
    centerDialogVisible: { type: Boolean, default: false },
    currentComponent: { type: Object, default: () => {} },
    currentProperties: { type: Object, default: () => {} },
  },
};
</script>
